
<div class="cardu">
<div class="repo">
    <div class="container">
        <form>
            <div class="form-group">
                <h1>Github Repository</h1>
                <input class="form-control"type="text" name="search" [(ngModel)]='repoName' (keyup)="findRepo()">
            </div>
        </form>
    </div>

        <div *ngIf="repoitems" >
            <div class="row">
            <div class="class" *ngFor='let item of repoitems; let i=index'>
                <div *ngIf="i <6">
                <div class="cal" appHighlight>
                    <a href="{{item.html_url}}" target="_blank"><strong>{{item.name}}</strong></a>
                    <p><strong>Created:</strong> {{item.created_at|dateAgo}}</p>
                    <p><strong>Created by:</strong> {{item.owner.login}}</p>
                    <p><strong>Language used:</strong> {{item.language}}</p>
                    <p>{{item.description}}</p>
                </div>
            </div>
            </div>

        </div>

    </div>

</div>
</div>