<div class="carder">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="title">Search for Movies</h1>
      <form (submit)="searchMovies()">
        <input type="text" class="form-control" [(ngModel)]="searchStr" name="searchStr">
        <button class="btn btn-primary btn-lg"><i class="fas fa-search"></i></button>
      </form>

    </div>
  </div>
</div>

  <div *ngIf="searchRes" class="container">
    <div class="panel panel-default">
     
      <div class="panel-body">
        <div class="row">
          <div *ngFor="let movie of searchRes; let i=index" class="movie">
            <div *ngIf="i < 6">
              <h2>{{movie.title}}</h2>

              <img *ngIf="movie.poster_path" class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
              <p>{{movie.release_date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

